# Copyright (c) Facebook, Inc. and its affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

version: '3.3'

services: 
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile 
    image: devc/fbosbot:1.0-dev
    container_name: fbosbot_dev
    command: flask run
    env_file: 
      - ./.env
    ports:
      - "5000:5000"
    volumes: 
      - ./src:/app