# Copyright (c) Facebook, Inc. and its affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

Flask>=1.1.2,<1.2.0
fbmessenger>=6.0.0,<6.1
six>=1.15.0,<1.16
validators>=0.15.0,<0.16
pytest>=5.4.3,<5.5.0
coverage>=5.1,<6.0
Flask-Babel>=1.0.0,<1.1.0
flake8>=3.8.3,<3.9.0